@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
body{
    font-family: 'Fredoka', sans-serif;
    background-color:dodgerblue;
}
h1{
    font-size: 100px;
    color: #FAB201;
    -webkit-text-stroke: 1px white;
    font-weight:bolder;
}
.flex{
    display: flex;
}
.game-container{
    justify-content: center;
    align-items: center;
}

.container, .game-container, #result{
    flex-direction: column;
}
.box{
    height:100px;
    width: 100px;
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px silver;
}
h3{
    color: white;
    font-size: 30px;
}



